<!DOCTYPE html>
<html lang="en">
	<head>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="theme-color" content="#000000" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	</head>
	<body>
		<div class="container">
			<div class="login-span"></div>
			<div class="login-everything">
				<p class="login-title main-title">Login to this instance,</p>
				<div class="login-box">
					<form method="post">
						{{#if loginError }}
							<div class="error">
								oh shit im sorry it appears that your login information is not correct
							</div>
						{{/if}}
						<span class="login-desc">email:</span><br>
						<input type="text" placeholder="eg jacob@dolt.com" name="email"></input>
						<span class="login-desc">password:</span><br>
						<input type="password" placeholder="put your password here" name="password"></input>
						<ul>
							<div class="login-submit"><ul><li  class="left"><p><a href="#">forgot pass?</a></p></li><li class="right"><input type="submit"></input></li></ul></div>
						</ul>
					</form>
				</div>
				<p class="login-title">Sign up down here!</p>
				<div class="login-box">
					<form>
						<span class="login-desc">email:</span><br>
						<input type="text" placeholder="eg pleb@idontuseskfsyet.com"></input>
						<span class="login-desc">pick a username:</span>
						<input type="text" placeholder="a really good one is 'mooshoe'"></input>
						<span class="login-desc">choose a password:</span><br>
						<input type="password" placeholder="make sure your password is super good ok bye"></input>
						<ul>
							<div class="login-submit"><ul><li class="right"><input type="submit" value="Register"></input></li></ul></div>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
